@import url("menu.css");
@import url("header.css");
@import url("overview.css");
@import url("resource.css");
body {
    background-color:#000000; 
    background-image: url(../img/sterne_bg2.jpg);
    background-repeat: repeat;
    text-align: center; 
    font-family:Arial, Helvetica, sans-serif;
	padding:2%;	
}
.pogrubiona {
	font-weight:bold;
}
