.overview {
color:white;
display:block;

}
.overview div {
	border:1px solid #fff;
	background-color:#16274C;
	padding:0.1em;
}
.overview div p {
color:white;
margin:0;
}
.tid {
	display:block;
	text-align:left;
	padding-left:1em;
}
.tid p {
	display:inline-block;
	color:white;


}
.sojusz{
	color:green;
	text-align:left;
	padding-left:1em;
}
.sojusz p {
	padding-left:2em;
}
.wrogi{
color:red;
text-align:left;
padding-left:1em;
}
.wrogi p {
	padding-left:2em;
}
.szpieg{
color:#FDB813;
text-align:left!important;
}
.szpieg p {
	padding-left:2em;
}
.planeta-nazwa {
display:block;
}
.planeta {
background-color:black;
}
