.srodek {
width:50%;
color:white;
display:block;
margin:10em 8em 8em 20em;

}
.divTable{
	display: table;
	width: 100%;
	text-align:center;
	background-color:#16274C;
}
.divTableRow {
	display: table-row;
	text-align:center;
}
.divTableHeading {
	background-color: #fff;
	display: table-header-group;
	text-align:center;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	text-align:center;
	font-size:10px;
}
.divTableHeading {
	background-color: #fff;
	display: table-header-group;
	font-weight: bold;
	text-align:center;
}
.divTableFoot {
	background-color: #fff;
	display: table-footer-group;
	font-weight: bold;
	text-align:center;
}
.divTableBody {
	display: table-row-group;
	text-align:center;
}
.zuzycie {
color:red;
}
.produkcja {
color:green;
}